<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">La nostra storia</h2>
                    <h3 class="section-subheading text-muted">Bottega dello Studente, di Francesco Mancosu</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>19 marzo 1938</h4>
                                    <h4 class="subheading">Inaugurazione del negozio </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Un trafiletto sul giornale Unione Sarda per annunciare l'apertura della nuova cartoleria.
                                        <br/>Era il 19 marzo 1938.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1938-1990</h4>
                                    <h4 class="subheading">Un punto di riferimento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> La Bottega dello Studente diventa il punto di riferimento dei tanti studenti che frequentano le scuole del centro di Cagliari.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Estate 1990</h4>
                                    <h4 class="subheading">Ristrutturazione</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Dopo 52 anni la Bottega dello Studente rinnova i suoi arredi, mantenendo intatti lo stile legato alla tradizione
                                    e l'atmosfera di un negozio di altri tempi. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1990... fino ad oggi</h4>
                                    <h4 class="subheading">Una storia che continua...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Nella Bottega dello Studente di Francesco Mancosu la tutela della tradizione è accompagnata da una costante
                                    ricerca di modernizzazione che permette di offrire ai propri clienti servizi sempre più funzionali ed innovativi.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
