<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prodotti</h2>
                    <h3 class="section-subheading text-muted">

<br/>L'eredità di questo esercizio storico è affidata alla cortesia di Francesco Mancosu,
<br/>che ne ha reinventato completamente lo stile e l'arredamento
<br/>Vi troviamo, naturalmente, tutto ciò che una cartolibreria dotata di una vasta scelta di articoli può offrire.
<!-- <br/>libri per l'infanzia, narrativa, traduttori latini e greci, sunti di tutte le materie per le scuole medie, 
                        superiori, vocabolari, manabili.
<br/>Inoltre: articoli per l'ufficio, cancelleria, attrezzatura completa per la scuola, materiale tecnico e da disegno, articoli da regalo.
<br/>Completa il tutto un servizio di fax, scanner, fotocopiatura e plastificazione documenti.
  -->                  
                    
                    
                    
                    
                    
                    </h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
