<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">I nostri servizi</h2>
                    <h3 class="section-subheading text-muted">Nella Bottega dello Studente di Francesco Mancosu
                        la tutela della tradizione è accompagnata da una costante ricerca di modernizzazione che permette
                        di offrire ai propri clienti servizi sempre più funzionali ed innovativi.
                        <br/>Presso la cartolibreria potrete usufruire dei seguenti servizi:

</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fax fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fax</h4>
                    <p class="text-muted">Servizio invio e ricezione fax nazionali e internazionali.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Servizio fotocopie e stampe</h4>
                    <p class="text-muted">Fotocopie e stampe da file b/n e a colori, servizio scanner e plastificazioni.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Spedizione ordini</h4>
                    <p class="text-muted">Spedizione ordini tramite corriere espresso in tutta la Sardegna e in tutta Italia con tempi di consegna di 24/48 h.</p>
                </div>
            </div>
        </div>
    </section>
